{
    "connector.class": "io.debezium.connector.mysql.MySqlConnector",
    "database.history.kafka.bootstrap.servers": "{{ bootstrap_servers }}",
    "database.hostname": "{{ database_host }}",
    "database.password": "{{ database_password }}",
    "database.port": "3306",
    "database.server.id": "1",
    "database.server.name": "1",
    "database.user": "{{ database_username }}",
    "database.whitelist": "{{ database_name }}",
    "internal.key.converter.schemas.enable": "false",
    "internal.key.converter": "org.apache.kafka.connect.json.JsonConverter",
    "internal.value.converter.schemas.enable": "false",
    "internal.value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "schema.history.internal.kafka.bootstrap.servers": "{{ bootstrap_servers }}",
    "schema.history.internal.kafka.topic": "schema-changes.{{ database_name }}",
    "snapshot.fetch.size": "10000",
    "snapshot.locking.mode": "none",
    "snapshot.mode": "when_needed",
    "table.include.list": "{{ database_name }}.*",
    "tasks.max": "1",
    "topic.prefix": "{{ database_prefix }}",
    "transforms.unwrap.add.source.fields": "ts_ms",
    "transforms.unwrap.delete.handling.mode": "rewrite",
    "transforms.unwrap.drop.tombstones": "true",
    "transforms.unwrap.type": "io.debezium.transforms.ExtractNewRecordState",
    "transforms": "unwrap",
    "time.precision.mode": "connect"
}